<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/IngWebDB"/>
		<property name="username" value="root"/>
		<property name="password" value="usbw1234"/>
	</bean>
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean"/>
		<property name="mappingResources">
			<list>
				<value>co/edu/udea/iw/dto/Ciudad.hbm.xml</value>
				<value>co/edu/udea/iw/dto/Rol.hbm.xml</value>
				<value>co/edu/udea/iw/dto/Usuario.hbm.xml</value>
				<value>co/edu/udea/iw/dto/Cliente.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="ciudadDaoBean" class="co.edu.udea.iw.dao.impl.CiudadDaoImpl">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	<bean id="usuarioDaoBean" class="co.edu.udea.iw.dao.impl.UsuarioDaoImpl">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	<bean id="clienteDaoBean" class="co.edu.udea.iw.dao.impl.ClienteDaoImpl">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	<bean id="rolDaoBean" class="co.edu.udea.iw.dao.impl.RolDaoImpl">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSourceBean"></property>
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	
	<bean id="clienteBLBean" class="co.edu.udea.iw.bl.impl.ClienteBlImpl">
	</bean>
</beans>
